#footer:after {
    content: "";
    background-image: url(../assets/banner/shape.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
    background-position: bottom;
    transform: rotate(180deg);
}

/* element.style {
    background-image: url(images/background/footer.jpg);
} */
#footer {
    position: relative;
    z-index: 1;
    overflow: hidden;
    font-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}